.card1{
    border-radius: 15px;
    background-color: #3ebd93;
}
.card2{
    border-radius: 15px;
    background-color: #e668a7;
}
.card3{
    border-radius: 15px;
    background-color: #a368fc;
}
.div2{
    background-color: #0967d219;
}
.div4{
    background-color:#e12d3919;
}