*{
    margin:0 auto;
}
.section1{
    width:100%;
    height:200px;
    background-color:#fb4e71;
}
.para1{
    font-size:18px;
}
.rahul{
    height:200px;
}
.section2{
    width:100%;
    height:210px;
}
.image2{
    width:200px;
    height:150px;
    margin-right:10px;
}
.rcb{
    padding-top:40px;
}
.ipl{
    font-weight:15px;
    font-size:25px;
}
.view{
    text-align: center;
}